<div class="body">
{% extends 'base.html'%}
{% block content%}
    <form action="">
        {{form.as_p}}
        <button type="submit"name="save">SUBMIT</button>
    </form>

<div class="content" style="text-align: center;margin-top: 150px">
<p style="color: white;text-align: center;font-size: 50px;font-weight: bold">Online Examination System</p>
<p style="text-align: center;font-size: 30px">Attend your examinations online!</p>
<p style="font-size:18px;text-align: center;color: white">sign up now to start your first online class</p>
<p style="text-align: center;color: white">Start your Journey Here</p>
<button class="btn btn-secondary">Sign up as a Student</button>
   </div>
{%endblock%}

    </div>