{%extends 'base.html'%}
{% block content%}
<div class="bony"style="text-align: center">

<p>
   <span style="font-size: 30px"> Hello student,</span> <br>and welcome to online examination system</p>
<hr>
    <br>
    <p>select any of them to access into the system</p>
    <button class="btn btn-info">Create Your any count</button>
      <button class="btn btn-success">Login Now</button>
</div>
<br><br><br><br>
<div class="bg-dark"style="color: white;text-align: center">Online Examination</div>
{% endblock%}
