{%extends 'base.html'%}
{% block content%}
<div class="bony"style="text-align: center">
<h1 style="font-weight: lighter">Hello teacher3</h1>
<p>Your Account has not been <span>ACTIVATED</span> yet! <br><br>
waiting for approval from the adminstrator <br><br>
and soon you'll be able to access your Account after approval</p>
<hr>
    <button class="btn btn-danger">Logout Now</button>
</div>
<br><br><br>
<div class="bg-dark"style="color: white;text-align: center">Online Examination</div>
{% endblock%}
